$font-color_main:rgb(92,92,92);
$dark-blue:rgb(24, 96, 204);
$white2:rgb(240,240,240);
/*===========================================================================*/
::-webkit-scrollbar {
        width: 0;
      }
body {
    // zoom: 100%;
    // -moz-transform: scale(1.0);
    // -moz-transform-origin: 0 0;
    // -o-transform: scale(1.0);
    // -o-transform-origin: 0 0;
    // -webkit-transform: scale(1.0);
    // -webkit-transform-origin: 0 0;
    font-family: Montserrat;
    color:$font-color_main;
    line-height:1.6rem ;
}

// @media all and (max-width: 1024px) {
//     body {
//         zoom: 100% !important;
//     }
// }

// @media all and (min-width: 1025px) {
//     body {
//         zoom: 100% !important;
//     }
// }
// body{
    
// }
// .wrapper{
// 	overflow: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	min-height: 100%;
// }
.header{
    position: absolute;
    z-index: 10;
    width: 100%;

}
.header__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    padding: 33px 61px 33px 40px;
    background-color: rgb(255, 255, 255);
}
.header__menu{
    display: flex;
}
.menu__item{
    color:rgb(255, 255, 255);
    padding: 37px 35px;
    transition: all 0.3s;
}
.menu__item:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
/*===============================================================================*/

.container{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}
.slide{
    width: 100vw;
    scroll-snap-align: start;
}

.home{
    height: 100vh;
}

.home__slider{
    height: 100vh;
    width: 100vw;
    position: relative;
}
.home__slide{
    height: 100vh;
    width: 100vw;
    
}
.home-slide-1{
    background:url("../../img/ritz_carlton.png") center/cover no-repeat;
}
.home-slide-2{
     background:url("../../img/ritz_carlton2.png") center/cover no-repeat;
}
.home__body{
    position:absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
.home__info{
    display: flex;
    justify-content: space-between;
    height: 20.3vh;
    width: 81.6vw;
    align-items: center;
    background-color: rgb(255, 255, 255);    


}
.home__details{
    max-width: 39.4vw;
    margin-left: 5.3vw;
}
.home__date{
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: rgb(92, 92, 92);
    margin-bottom: 0.8vh;
}
.home__title{
}
.home__text{
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: black;
    max-width: 28.4vw;
    margin-right: 3.17vw;
}
.home__button{
    background-color: $dark-blue;
    color: rgb(255, 255, 255);
    height: 24.3vh;
    width:18.4vw;
    margin-top: -4.05vh;
}
.home__blocks{
    position:absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.home__block_white{
    background-color: rgb(255, 255, 255);    
    height: 20.3vh;
    width: 81.6vw;
}
.home__block_blue{
    background-color: $dark-blue;
    height: 24.3vh;
    width:18.3vw;
    margin-top: -4vh;
}

/*==============================================================================*/
.title{
    font-family: Cormorant;
    font-size: 6rem;
    font-weight: 700;
    color:rgb(183, 183, 183);
    text-transform: uppercase;
}
.subtitle{
    color: rgb(0, 0, 0);
    font-family: Cormorant;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;

}
/*==============================================================================*/
.about-us{
    height: 100vh;
    background-color: rgb(250, 250, 250);
    background-image: url("../../img/about-us_bgi.png");
    background-repeat: no-repeat;
    background-position: 27.248vw;
    background-size:cover;
    position: relative;
}
.about-us__title{

    position: absolute;
    left: 5.3vw;
    top:32.9vh;
}
.about-us__tabs{
    position: absolute;
    bottom: 0;
    background-color: rgb(255, 255, 255);

}
.tabs__container{
    
}
.tab__button{
    width: 27.25vw;
    height: 9.75vh;
    font-weight: 600;
    line-height: 1.25rem;
    color:rgb(92, 92, 92);
    display: flex;
    align-items: center;
    padding-left: 5.3vw;
    border-top: 1px solid $white2;
    border-bottom: 1px solid $white2;
    transition: all 0.3s;

}
.tab__button:hover{
    transform: translateX(1.3vw);
}
.active-tab{
    color: rgb(0, 0, 0);
    transform: translateX(1.3vw);

}
.hidden-tab-body{
    display: none;
}
.tab__body{
    background-color: $white2;
    width: 56.9vw;
    padding: 8.1vh 5.3vw;
    position: absolute;
    left:27.25vw;
    bottom: 0;

 
}
.tab__title{
    font-family: Cormorant;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.tab-1{
    height: 41.2vh;
    .tab__content{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .tab__title{
            max-width: 24.6vw;
            font-family: Cormorant;
            font-size: 2rem;
            font-weight: 700;
            line-height: 2rem;
            color: rgb(0, 0, 0);
            margin-bottom: 2vh;
            text-transform: uppercase;
        }
        .tab__text{
            max-width: 30.2vw;
        }
    }
}
.tab-2{
    // height: 84.1vh;
    .tab__content{
        height: 100%;
        .tab__title{
            max-width: 22vw;
            font-family: Cormorant;
            font-size: 2rem;
            font-weight: 700;
            line-height: 2rem;
            color: rgb(0, 0, 0);
            margin-bottom: 6vh ;
            text-transform: uppercase;
        }
        .tab__flex-container{
            display: flex;
            flex-wrap: wrap;
            margin: -2vh -1.325vw;
            .tab__block{
                flex: 0 0 50%;
                padding:2vh 1.325vw;

                .tab__subtitle{
                    margin-top: 2vh;
                    margin-bottom: 1.2vh;
                    font-size: 1.25rem;
                    font-weight: 600;
                    line-height: 1.25rem;
                    color: rgb(0, 0, 0);

                }
                .tab__text{
                    font-size: 0.875rem;
                    max-width: 21.8vw;
                    line-height: 1.25rem;

                }
            }
        }
    }
}
.tab-3{
    // height: 94.5vh;
    .tab__content{
        .tab__block:not(:last-child){
            margin-bottom: 6vh;
            
        }
        .tab__title{
           margin-bottom: 2.03vh;
        }
        .tab__text:not(:last-child){
           margin-bottom: 1.5vh;
        }
        
    }
}
.tab-4{
    .tab__block:not(:last-child){
        margin-bottom: 6vh;
        
    }
    .tab__title{
        margin-bottom: 2vh;
    }
    .tab__text span{
        font-weight: 600;

    }
    .tab__company{
        margin-right: 2.6vw;
    }
    .tab__characteristics{
        display: flex;
        flex-wrap: wrap;
        margin: -1.425vh -0.92vw;

        .tab__characteristic{
            flex: 0 0 33.333%;
            padding: 1.425vh 0.92vw;
            display: flex;
            align-items: center;
            .characteristic__image{
                width: 32px;
                height: 32px;
            }

            .characteristic__title{
                font-size: 0.875rem;
                line-height: 1.25rem;
                color:rgb(0, 0, 0);
                margin-left: 20px;

            }
        }
    }
    
}
.tab-5{
    .tab__content{
        .tab__block:not(:last-child){
            margin-bottom: 6vh;
           
        }
        .tab__title{
            margin-bottom: 2.03vh;
        }
        .tab__list{
            transform: translateX(1.3vw);
            margin-top: 2vh;
            li{
                list-style:disc;
            }
            // li::before{
            //     content: ".";
            //     position: relative;
            //     left:-10px;
            //     bottom: 4.5px;
            //     font-size: 2rem;

            // }
        }
        
    }
}
/*================================================================================================*/
.projects{
    height: 96.34vh;
    background-color: rgb(245, 245, 245);
    position: relative;
}
.projects__title{
    position: absolute;
    top: 18.3vh;
    left:5.3vw;
}
.projects__slider {
    width: 100%;
    height: 60.2vh;
    position: absolute;
    top: 36.2vh;
}

.projects__slide{
    width: 48.1vw !important;
    min-width: 728px !important;
    // max-width: 900px !important;
    height: 50vh !important;
    padding: 0 0.8vw;

}

.projects__slide:nth-child(even){
    margin-top: 10.1vh;
}   
.projects__content{
    background: url("../../img/ritz_carlton.png") 0 0/cover no-repeat;
    height: 100%;
    width: 77%;
    position: relative;
}
.projects__body{
    width: 59%;
    height: 39.8vh;
    background-color: white;
    padding: 4vh 2.64vw;
    position: absolute;
    bottom: 0;
    right: -25%;
}
.projects__subtitle{
    max-width: 16.6vw;
    margin-bottom: 9.35vh;
}
.projects__termin{
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 0.75rem;
    color: rgb(0, 0, 0);
    margin-bottom: 4px;
}
.projects__detail{

    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 24px;

}
/*================================================================================================*/
.news{
    background-color: rgb(245, 245, 245);
    position: relative;
    height: 95.1vh;
    padding: 0 5.3vw;

}
.news__title{
    position: absolute;
    top:16vh;
    left:5.3vw;
}
.news__flex-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news__blocks{
    display: flex;
    justify-content: space-between;
    max-width: 1352px;
}
.news__block{
    flex: 0 0 23.7%;
    background-color: rgb(255, 255, 255);
    margin: 0 10px;
    &:nth-child(3), &:nth-child(4) {
        transform: translateY(80px);
    }

}

.news__image img{
    width: 320px;
    height: 200px;
}
.news__content{
    padding: 40px;
}
.news__subtitle{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
.news__text{
    color: rgb(0, 0, 0);
    margin-bottom: 23px;

}
.news__date{
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(183, 183, 183);
    margin-bottom: 23px;


}
.news__link{
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.75rem;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
}

/*==================================================================================================*/
.footer{
    height: 50vh;
    position: relative;
    background-color: rgb(245, 245, 245);
}
.footer__info{
    position: absolute;
    bottom: 0;
    height: 45.9vh;
    background-color: rgb(255, 255, 255);

}
.footer__flex-container{
    display: flex;
    width: 84.1vw;
}
.footer__flex-element{
    height: 39vh;
}
.footer__about-us{
    width: 27.24vw;
    padding: 15.2vh 5.3vw 8.1vh 5.3vw;
    border-right: 1px solid rgb(240, 240, 240)

}
.footer__logo{
    margin-bottom: 4vh;
}
.footer__text{
    max-width: 16.6vw;
}
.footer__contacts{
    width: 34.1vw;
    padding: 13.8vh 5.3vw 8.1vh 5.3vw;
    border-right: 1px solid rgb(240, 240, 240)

}
.footer__contact-title{
    font-weight: 600;
    line-height: 1.25rem;
    margin-bottom: 2.4vh;

}
.footer__address{
    margin-bottom: 2vh;

}
.footer__phone-number{
    margin-bottom: 2vh;

}
.footer__email{
    margin-bottom: 2vh;

}
.footer__nav{
    display: flex;
    flex-direction: column;
    width: 22.75vw;
    padding: 18.3vh 5.3vw 8.1vh 5.3vw;
    border-right: 1px solid rgb(240, 240, 240)
}
.nav__item{
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.75rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    margin-bottom: 1.6vh;
}
.footer__copyright{
    padding: 2.43vh 5.3vw;
    border-top: 1px solid rgba(240, 240, 240, 1);
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(183, 183, 183);
    width: 84.1vw;

}
.footer__social-media{
    width: 15.9vw;
    height: 50.4vh;
    background: rgb(27, 105, 223);
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}